/* You can add global styles to this file, and also import other style files */
.top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgba(45, 45, 45, 0.98);
    font-size: 17px;
  }
  body {
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
  }
  
  .material-icons {
    color: rgba(0, 0, 0, 0.81) !important;
  }