.contact {
    display: flex;
  }
  .button {
    width: 303px;
    height: 35px;
    margin-left: 0px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -0.022em;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    line-height: 1, 47059;
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
      Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: white;
    display: inline-block;
    cursor: pointer;
    outline: none;
  }
  .button:hover {
    background-color: #147bcd;
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
    text-decoration: none;
  }
  .button:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  label:last-child {
    margin-top: -50px !important;
  }
  
  .contact-form {
    width: 400px;
    height: auto;
    margin-top: 150px;
  }
  
  .contact-form > * {
    display: block;
    font-size: 17px;
    line-height: 1.23543;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
      Arial, sans-serif;
  }
  
  .contact-form > label {
    position: absolute;
    margin-top: -32px;
    margin-left: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.71);
    transition: all 0.1s ease-out;
    pointer-events: none;
  }
  
  .contact-form > input {
    width: 300px;
    height: 50px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    text-align: center;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    border-spacing: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .contact-form > input:focus + label,
  input:valid + label {
    margin-top: -76px;
    margin-left: 0px;
    color: rgba(45, 45, 45, 0.98);
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .contact-form > textarea {
    width: 300px;
    min-height: 60px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    outline: none;
    resize: none;
  }
  
  .contact-form > textarea:focus + label,
  textarea:valid + label {
    margin-top: -110px !important;
    margin-left: 0px;
    color: rgba(45, 45, 45, 0.98);
  }
  
  .contact-card {
    width: 400px;
    height: auto;
    margin: 100px;
    padding: 50px;
    border-radius: 4px;
    background: #f2f2f2;
    box-shadow: 0px 0px 10px 1px rgba(45, 45, 45, 0.98);
    display: inline-block;
  }
  
  .contact-card > .contact-profile {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 0 auto;
    line-height: 140px;
    text-align: center;
    font-size: 48px;
  }
  .contact-card > .contact-profile > .round {
    border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 0 1px rgba(45, 45, 45, 0.98), 0 0 13px #333; /* Параметры теней */
  }
  .contact-card > .contact-info-container {
    margin-top: 40px;
    cursor: default;
  }
  
  .contact-card > .contact-info-container > .contact-info {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 10px;
  }
  
  .contact-card > .contact-info-container > .contact-data-container {
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 10px;
  }
  
  .contact-card > .contact-info-container > .contact-data-container > div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 80%;
    word-break: break-word;
  }
  
  .contact-card > .contact-info-container > .contact-info > div {
    float: left;
    line-height: 60px !important;
  }
  
  .contact-data-container:last-child > .contact-data {
    margin-left: 16px !important;
  }
  
  .contact-data {
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
      Arial, sans-serif;
    font-size: 16px;
    margin-left: 20px;
    white-space: pre-wrap;
  }
  